.button {
  min-width: 208px;
  padding-top: var(--spacing-small);
  padding-right: var(--spacing-huge);
  padding-bottom: var(--spacing-small);
  padding-left: var(--spacing-huge);
  border: var(--border-size-none);
  line-height: var(--line-height-xsmall);
  text-transform: uppercase;
  font-size: var(--font-size-default);
  border-radius: var(--border-radius-pill);
  background-color: var(--brand-color-secondary-pure);
  color: var(--color-neutral-high-pure);
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.button:not(:disabled):hover {
  background-color: var(--brand-color-primary-pure);
}
